*sqlite3*
/bin*
/obj*
\VS\CES2020\CES2020\obj*
VS/CES2020/CES2020.Tests/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VS/CES2020/CES2020.Tests/obj/Debug/CES2020.Tests.csprojAssemblyReference.cache
VS/CES2020/CES2020.Tests/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VS/CES2020/CES2020/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VS/CES2020/CES2020/obj/Debug/CES2020.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VS/CES2020/.vs/ProjectSettings.json
VS/CES2020/.vs/slnx.sqlite
VS/CES2020/CES2020.Tests/obj/Debug/CES2020.Tests.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Debug/CES2020.csprojAssemblyReference.cache
VS/CES2020/CES2020.Tests/obj/Debug/CES2020.Tests.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Debug/CES2020.csprojAssemblyReference.cache
VS/CES2020/CES2020.Tests/obj/Debug/CES2020.Tests.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Debug/CES2020.csprojAssemblyReference.cache
VS/CES2020/.vs/CES2020/config/applicationhost.config
VS/CES2020/.vs/CES2020/v16/.suo
VS/CES2020/CES2020.Tests/obj/Debug/CES2020.Tests.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Debug/CES2020.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VS/CES2020/.vs/CES2020/config/applicationhost.config
VS/CES2020/.vs/CES2020/v16/.suo
VS/CES2020/CES2020.Tests/obj/Debug/CES2020.Tests.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Debug/CES2020.csprojAssemblyReference.cache
VS/CES2020/CES2020/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VS/CES2020/CES2020/CES2020.csproj.user
VS/CES2020/.vs/CES2020/v16/.suo
