
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>    
    <div>
        <form action="/action_page.php">
            <label for="RekommanderetTillaeg">Rekommanderet Tillæg i $:</label>
            <input type="number" id="RekommanderetTillaeg" name="RekommanderetTillaeg"><br><br>
            <label for="Rabat">Rabat i %:</label>
            <input type="number" id="Rabat" name="Rabat"><br><br>
            <label for="MaxVaegt">Max Vægt i kg:</label>
            <input type="number" id="MaxVaegt" name="MaxVaegt"><br><br>
            <label for="TelstarSegmentTid">Minutter pr. segment:</label>
            <input type="number" id="TelstarSegmentTid" name="TelstarSegmentTid"><br><br>
            <label for="TelstarSegmentPris">Pris pr. segment i $:</label>
            <input type="number" id="TelstarSegmentPris" name="TelstarSegmentPris"><br><br>
            <input type="submit" value="Gem">
        </form>
    </div>
</div>
</body>
</html>
