<div>
    <h2>Telstar Rute</h2>

    <span>
        <button>Pris Administration</button>
    </span>

</div>


<div>
    <span>
        <label class="by" for="fra">Fra:</label>
        <select id='fra'>
            <option value="cairo">Cairo</option>
            <option value="Tenger">Tenger</option>
        </select>
    </span>

    <span>
        <label class="by" for="til">Til:</label>
        <select id="til">
            <option value="cairo">Cairo</option>
            <option value="Tenger">Tenger</option>
        </select>
    </span>

    <span>
        <label class="dato" for="dato">Dato:</label>
        <input type="date" id="dato" name="trip-start"
           min="2018-01-01" max="2100-12-31"/>
    </span>
</div>

<div>
        <label for="godstyper">Vælg speciel godstype:</label>
            <select id='godstyper'>
                <option value="">ingen</option>
            <option value="frostvarer">Frostvarer</option>
            <option value="eksplosivevarer">Eksplosive varer</option>
            <option value="levendedyr">Levende dyr</option>
            <option value="skrøbelig">Skrøbelige varer</option>
        </select>
      
    </div>
</div>

