<h2>Telstar Rute</h2>

<select>
      <option value="cairo">Cairo</option>
    <option value="Tenger">Tenger</option>
</select>

<select>
    <option value="cairo">Cairo</option>
    <option value="Tenger">Tenger</option>
</select>